# =========================
# OS
# =========================
.DS_Store
Icon?
Thumbs.db

# =========================
# Dotter
# =========================
.dotter/local.toml
.dotter/cache.toml

# =========================
# Local Configs
# =========================
*.local
*_local
config/fish/fish_variables

# =========================
# Editor & Temporary Files
# =========================
*~
*.swp
*.swo
config/nvim/.netrwhist
config/nvim/*.log

# Zsh tmp
tmp/zsh/*

# =========================
# Exceptions
# =========================
!.gitkeep
