[submodule ".tmux/tmux-powerline"]
	path = .tmux/tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "/Users/teco-otaki/dotfiles/.zsh/zsh-completions"]
	path = /Users/teco-otaki/dotfiles/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
